body{
	margin: 0;
	padding: 0;
	background: url(birthday_bg.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: sans-serif;
	
}

.nav a{
	text-decoration: none;
	color: #000;
	background-color: #fff;
	opacity: 0.8;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	border-radius: 5px;
}

.nav{
	display: flex;
	justify-content: space-between;
}

.insertbox{
	width: 480px;
	height: 680px;
	background: #fff;
	opacity: 0.9;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%); 
	box-sizing: border-box;
	padding: 30px 30px;
	border-radius: 20px;
}


.insertbox h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	color: #000;
	font-size: 20px;
}

.insertbox p{
	margin: 0;
	padding: 0;
	color: #000;
	font-weight: bold;
	font-size: 18px;
}

.insertbox input{
	width: 100%;
	margin-bottom: 15px;
	border: none;
	border-bottom: 0.5px solid #000;
	background: transparent;
	outline: none;
	height: 28px;
	color: #000;
	font-size: 15px;
	font-weight: bold;
}


.insertbox input::placeholder {
	color: #000;
	opacity: 0.6;
	font-size: 14px;
}

.insertbox input[type="date"], input[type="time"]::placeholder{
	color: #000;
	opacity: 0.6;
	font-size: 14px;
}

.insertbox input[type="time"], input[type="date"]::placeholder{
	color: #000;
	opacity: 0.6;
	font-size: 14px;
}

.insertbox input[type="submit"]{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 10px;
	border: none;
	outline: none;
	height: 40px;
	background: #1095CC;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	font-weight: bold;
}

.insertbox input[type="submit"]:hover {
	cursor: pointer;
	background: #808B96;
	color: #000;
	font-weight: bold;
}

.insertbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.insertbox a:hover {
	color: #808B96;
}

